.manage-password-header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.top {
  position: absolute;
  width: 65vw;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.manage-title {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.manage-password-container {
  top: 23%;
}

.button-container-manage {
  display: flex;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
